main {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 30px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font: Inter;
  font-weight: 400;
  color: #4a4e74;
  margin: 8px 47px 0;
  max-width: 280px;
  text-align: center;
}

.dice-container {
  margin: 25px 37px;
  max-width: 340px;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

button {
  font-weight: inherit;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button--die {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  color: #2b283a;
  font-size: 21px;
  height: 42px;
  width: 42px;
  padding: auto;
}

.locked {
  background-color: #59e391;
}

.unlocked {
  background-color: #fff;
}

.button--roll {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
  background-color: #5035ff;
  color: #fff;
  font-size: 16px;
  letter-spacing: normal;
  min-height: 42px;
  padding: 0.6rem 1.7rem;
}

.button--roll:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
